.menu-side {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu-side__item {
  padding: 5px 10px;
  background: #f8f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  &:hover {
    cursor: pointer;
  }
}
.menu-side .--active {
  background: #80ccff;
}