$width_property_name: 130px;
$color-bg-item: #f8f6f6;
$color-conflict: rgb(252, 180, 29);
$color-active: #80ccff;

.property {
  display: flex;
  flex-direction: row;
  min-width: 700px;
  justify-content: flex-start;
  margin-bottom: 10px;

  &__h1 {
    font-size: 1.4rem;
    margin-left: 130px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__h2 {
    font-size: 1.2rem;
    margin-left: 130px;
    margin-top: 10px;
    font-weight: bold;
  }

  &__name {
    min-width: $width_property_name;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  &__values {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


  //Value item -->
  &__value-item,
  &__value-item--active,
  &__value-item--conflict {
    padding: 2px 5px;
    background: $color-bg-item;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    cursor: pointer;
    border: 2px solid $color-bg-item;
  }

  &__value-item--active {
    border: 2px solid $color-active;
  }
  &__value-item--conflict {
    border: 2px solid $color-conflict;
  }
  //<-- Value item

  // item-complex -->
  &__item-complex-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__item-complex,
  &__item-complex--active,
  &__item-complex--conflict,{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 5px;
    background: $color-bg-item;;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid $color-bg-item;
  }
  &__item-complex--active {
    border: 2px solid $color-active;
  }
  &__item-complex--conflict {
    border: 2px solid $color-conflict;
  }

  &__item-complex-unit,
  &__item-complex-unit--active,
  &__item-complex-unit--conflict, {
    padding: 2px 5px;
    cursor: pointer;
    background: $color-bg-item;
  }
  &__item-complex-unit--active {
  }
  &__item-complex-unit--conflict, {
  }


  &__item-complex-input,
  &__item-complex-input--active,
  &__item-complex-input--conflict {
    width: 40px;
    border: 0px;
    &:focus{
      outline: unset;
    }
  }
  &__item-complex-input--active {
  }
  &__item-complex-input--conflict {
  }

}