@import "variables";
@import 'pages/menuSide';
@import 'pages/menu';
@import 'task/task';
@import "task/property";
@import "task/workspace";

body {
  font-family: Poppins;
  padding: 15px 50px;
  background: $color-bg;
  font-size: 14px;
  color: $color-font;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.root {
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: row;
}
